doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet" href="/css/styles.css")
    
  body
    main
h1 Jose Raphael Quiambao
h2 Web Developer
ul.contact-info
li Email: joserquiambao@gmail.com
li Phone: 0995-756-1055
li Address: Panipuan, San Fernando, Pampanga
section
h3 Objective
p A recent graduate of Bachelor of Science in Information Technology with a specialization in Website Development seeking a position in the field to apply skills and knowledge gained through academic experience.
section
h3 Education
h4 Bachelor of Science in Information Technology, Specialization in Website Development
b Holy Angel University
p Graduated: May 2024
h4 Relevant Coursework
ul
li Web Programming
li Web Design
li Database Management
li User Experience Design
section
h3 Skills
ul
li Proficient in HTML, CSS, JavaScript, and Pug template engine
li Familiar with Node.js, and other web development frameworks
li Strong understanding of responsive design principles and cross-browser compatibility
li Experience with Git version control system
li Knowledge of SQL databases
section


section
h3 Certifications
ul
li Certified Web Developer, W3Schools
li Certified HTML5 Developer, Microsoft
h3 Languages
ul
li Fluent in English and Filipino
section




